<% if (type=='ENTREPENEUR') { %>
<div class="card-body">
    <div class="row">
        <div class="col-6 text-center">
            <img onerror="this.onerror=null;this.src='/img/user-default.png'" class="circle thumb96" src="/img/associates/<%= associate.image %>" alt="">
        </div>
        <div class="col-6">
            <h3 class="mt-0"><%= associate.names %></h3>
            <ul class="list-unstyled mb-0">                         
            <li class="mb-1">
            <em class="fas fa-map-marker-alt fa-fw"></em>
                <%= associate.city %>&nbsp;
                <%= associate.nationality %>&nbsp;
            </li>
            <li class="mb-1">
                <em class="fas fa-phone fa-fw"></em> <%= associate.phone %>
            </li>
            <li class="mb-1">
            <em class="fa fa-envelope fa-fw"></em><%= associate.email %>
            </li>
            </ul>
        </div>
    </div>
</div>
<div class="card-body bg-inverse">
    <div class="row text-center">
        <div class="col-4">
            <p class="m-0 h3">Emprendimiento</p>
            <p class="m-0 text-muted"><%= associate.entrepreneurship %></p>
        </div>
        <div class="col-4">
            <p class="m-0 h3">Fase</p>
            <p class="m-0 text-muted"><%= associate.phase %></p>
        </div>
        <div class="col-4">
            <p class="m-0 h3">Servicios</p>
            <p class="m-0 text-muted"><%= associate.services %></p>
        </div>
    </div>  
</div>

<% } %>